
p{
  font-size: 20px;
  line-height:30px;
 
}
span{
  font-size: 23px;
}

.play-logo{
  width: 50px;
}
.logo{
  width: 50px;
}


.title1{
  text-align:right;
  margin-right: 10px;
}

.title2{
  text-align:left;
  margin-left: 10px;
}


.spiner{
  color: azure;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
 }


@media (min-width:768px) { 
  .Card-Body{
    height: 120px;   
     }
   
}

@media (max-width:768px) { 
  p{
      font-size: 18px;
    }
    .logo, .play-logo{
      width: 50px;
    }
    span{
      font-size: 20px;
    }
    .Card-Body{
     height: 110px;   
      }
    }
 

@media (max-width:425px) { 
  p{
      font-size: 11px;
     }
    .logo, .play-logo{
      width: 30px;
    }
    span{
      font-size: 15px;
    }
    .Card-Body{
      height: 90px; 
    }
    p{
      margin:0px!important;
      padding: 0px!important;
     }

}

@media (max-width:390px) { 
  p{
      font-size: 9px;
    }
    .logo, .play-logo{
      width: 28px;
    }
    span{
      font-size: 12px;
    }
   
}
 
@media (max-width:320px) { 
  p{
      font-size: 8px;
    }
    .logo, .play-logo{
      width: 28px;
    }
    span{
      font-size: 11px;
    }
   
}